<div class="main-info-content">
	<div class="benefits">

		<div class="benefit">
			<h1 class="benefit-title">Intuitive</h1>
			<p class="benefit-text">By one to one configuration to task mapping, your build works exactly as you would imagine.</p>
		</div>

		<div class="benefit">
			<h1 class="benefit-title">Elegant</h1>
			<p class="benefit-text">Using gulp best practices, control tasks execution and combine streams with ease. Keeps things simple yet composable and makes complex tasks manageable yet flexible.</p>
		</div>

		<div class="benefit">
			<h1 class="benefit-title">Agile</h1>
			<p class="benefit-text">Starting your gulpfile.js as usual, then incremental enhance or split tasks when your project grow big.</p>
		</div>

		<div class="benefit">
			<h1 class="benefit-title">Sharable</h1>
			<p class="benefit-text">Tasks can be shared as normal node modules via npm.</p>
		</div>

		<div class="benefit">
			<h1 class="benefit-title">Non-Intrusive</h1>
			<p class="benefit-text">Not forcing or restricting you to gulp-chef's API.</p>
		</div>

		<div class="benefit">
			<h1 class="benefit-title">DRY</h1>
			<p class="benefit-text">By abstracting changes in configuration, you don't repeat your tasks with minor differences among projects.</p>
		</div>

	</div>
</div>
