/* main styles */

@import "highlight";

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: calc(14px / 1.5);

  color: #333;
  background-color: #fff;

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga', 'kern';
}

.navbar {
  lost-center: 768px;
  padding-top: 30px;

  & a {
    color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: opacity .2s linear;
    transform: translateX(50%);
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;

    &:focus, &:active {
      opacity: .5;
    }
  }

  & .navbar-title {
    display: none;
    position: static;
    float: left;
    left: 50%;
  }

  & .navbar-links {
	lost-center: 768px;

    & .navbar-link {
      padding: 0 15px;
      border-right: 1px solid rgba(255, 255, 255, 0.3);

      &:last-child {
        border-right: none;
      }
    }
  }
}

.main-header {
  height: 100%;
  width: 100%;
  min-height: 450px;
  color: #fff;
  text-align: center;
  background-color: #cf4646;
}

.main-header-content {
  position: absolute;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

.logo {
  max-width: 40vh;
  max-height: 20vh;
  margin: .4rem;
}

.main-header-text {
  width: 90vw;
  animation: fadein 2s;
  margin: 20px 0 60px;
  font-weight: 300;
  font-size: 2.5vw;

  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.main-header-btn {
  transition: all 0.4s;
  color: inherit;
  padding: 15px 20px 16px;
  vertical-align: top;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 3px;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  animation: fadein 2s;
  text-shadow: none;
  color: #333;
  background-color: #fff;
  font-size: 22px;

  &:hover {
    box-shadow: 0 0 50px rgba(255,255,255,.3);
  }
}

.main-info {
  lost-center: 1024px;
  background-color: #fff;
}

.benefits {
  lost-center: 1024px 50px;
  margin: 100px 0 100px 0;

  & .benefit {
    margin: 50px 0;
	clear: both;

    @media screen and (min-width: 768px) {
	  lost-column: 1/2 2 3%;

	  &:nth-child(2n+1) {
    	clear: both;
	  }
    }

    @media screen and (max-width: 768px) {
	  width: 100%;

	  &:nth-child(1n) {
	    clear: both;
	  }
    }

    & .benefit-title {
      margin-bottom: 14px;
      font-size: 22px;
      font-weight: 500;
    }

    & .benefit-text {
      color: #7f8c8d;
      font-size: 16px;
      line-height: 26px;
    }
  }
}

.sample {
  min-height: 150px;

  & .sample-code {
	lost-column: 1/2;

    font-size: 16px;
    line-height: 18px;

    & code {
      border-radius: 2px;
    }

    @media screen and (max-width: 768px) {
	  width: 100%;
    }
  }

  .sample-text {
	lost-column: 1/2;

    margin-bottom: 1.5em;
    font-size: 18px;
    line-height: 20px;
    color: #555;

    @media screen and (max-width: 768px) {
	  width: 100%;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
